.app {
  padding: 20px;
}

.navbar {
  width: 16%;
  margin: 10px 0;
}

.logo,
.liked {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo {
  margin-right: 10px;
}
